* {
    margin: 0;
    padding: 0;
}

.header-nav {
    width:700px;
    margin: 0 auto;
}
.li-header {
    display: inline-block;
    margin: 26px 72px 26px 0;
}

.text_red{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height:18px;
    display: flex;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: red;
}

.li-header:nth-child(3){
    margin-right: 50px;
}

.img{

    width:1280px;
    height: 789px;
    background-image: url("image 1.png");

    }
.main_text{
    text-align: center;
    width: 1280px;
    padding: 48px 68px 42px;

}
.main_h{
    align-content: center;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: rgba(55,55,55,0.84);
}

.text{
    font-family: 'Montserrat',sans-serif;
    width: 1145px;
    align-content: center;
    margin-top: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 3px;
    color: #373737;
}
.button{
    font-family: 'Montserrat',sans-serif;
    border: none;
    background: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    margin: 66px auto;
}
.footer-text{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    margin: 0 105px 29px 713px

}

